@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

.poppins{
    font-family: 'Poppins', sans-serif;
    font-stretch: wider;
}
li{
    cursor: pointer;
}
th,td{
    padding-left: 18px;
    padding-right: 18px;
    margin-right: 10px;
}